@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #222;
}
.header{
    text-align: left;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(180deg, #0cbdf8 50%,#004e68 );
    margin: 100px auto 0;
    color: #fff;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.search  input{
    border: none;
    outline: none;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    width: auto;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.input-container{
   position: relative;
}
.search .clear-icon{
    position: absolute;
    top: 30%;
    right: 27px;
    cursor: pointer;
    color: #808080;
    display: none;
}
.input-container input:not(:placeholder-shown)+ .clear-icon{
    display: inline;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;height: 60px;
    cursor: pointer;
}
.search button i{
    font-size: 20px;  
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather .temp{
    font-size: 50px;
    font-weight: 700;
    margin-top: -10px;
}
.weather .city{
    font-size: 45px;
    font-weight: 500;
    margin-top: -10px;
    color: #222;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 15px;
}
.details .col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 50px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
    color: #18d9fb;
}
.status-name {
    color: rgb(1, 236, 68);
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    color: #c5c5c5;
    display: none;
}